.navbar {
    /*border-bottom: #edf0f1 1px solid;*/

}

.border-bot {
    border: #abbcc9 1px solid;
    /*width: 300px;*/
    margin: 0 auto;
    width: 75%;
}

li, a, option {
    font-family: "JetBrains Mono Thin";
    font-size: 20px;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
    list-style: none;
}

#companies-dd{
    color: black !important;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 88%;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.dropdown:hover {
    color: skyblue;
}

li a:hover{
    color: skyblue;
}

label {
    cursor : pointer
}

.tab-items {
    height: 3vh;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 12%
}

